<footer class="darktheme">
    <br/>
    <p>To get further information contact me:
      <a class="robo-green" href="mailto:mail.nicole.p.it@protonmail.com">mail.nicole.p.it@protonmail.com</a>
    </p>
    <br/>
    <p>Content, Design &amp; Development by <span class="robo-green">Nicole P.</span></p>
</footer>
