<div id="top" class="darktheme contain">
  <div class="row">
    <div id="logo" class="col-sm-3"><% include ../pics/nplogo %></div>
    <div id="menue" class="col-sm-9">
      <!--  glyphicons bootstrap-->
        <div class="col-sm-3 col-xs-6">
          <div class="shadow-bright buttn"><a href="#"><span class="glyphicon glyphicon-home"></span></a></div>
        </div>
        <div class="col-sm-3 col-xs-6">
          <div class="shadow-bright buttn bluetheme"><a href="#"><span class="glyphicon glyphicon-envelope"></span></a></div>
        </div>
      <div class="col-sm-3 col-xs-6">
        <div class="shadow-bright buttn"><a href="#"><span class="glyphicon glyphicon-console"></span></a></div>
      </div>
      <div class="col-sm-3 col-xs-6">
        <div class="shadow-bright buttn bluetheme"><a href="#"><span class="glyphicon glyphicon-picture"></span></a></div>
      </div>
  </div>
</div><!-- row -->
</div><!-- top -->
