body{
   background:#dedede; 
   margin: 0px;
   padding: 0px;
}

#top {
	margin: 0px;
    padding: 0px;
	background: #ffffff;
}

#top-title svg{
	float:left;
	display:block;
}

img{
	display: block;
	max-width: 600px;
	margin-left: auto;
    margin-right: auto;
}
