body{
   background:#dedede; 
}

#header-title {
	background: #ffffff;
}

#header-title svg{
	float:left;
}

#header img{
	display: block;
	max-width: 600px;
	margin-left: auto;
       margin-right: auto;
}
