<!DOCTYPE html>
<html lang="en">
<% include ../partials/head %>
<body>
	<% include ../partials/top %>
	<div id="welcome" class="brighttheme contain">
		<div class="row">
				<div class="col-sm-8">
					<div id="profile">
					<div class="shadow">
						<div id="myPic"><% include ../pics/profilePic %></div>
						<h2>Welcome, my name is Nicole!</h2>
						<p class="mini">IT student</p>
						<hr>
						<p>One of my great passions is to experience the world of IT.</p>
					</div>
					<p>
						<span><i class="fa fa-cogs" aria-hidden="true"></i></span>
						<strong> This website is still in the stage of development.</strong>
					</p>
				</div>
				</div><!-- col 8 -->
				<div class="col-sm-4">
						<table class="table table-responsive table-borderless shadow">
							<tr>
								<th></th><th>Profile</th>
							</tr>
							<tr>
								<td><i class="fa fa-briefcase" aria-hidden="true"></i></td>
								<td>IT student (Bachelor)</td>
							</tr>
							<tr>
								<td><i class="fa fa-home" aria-hidden="true"></i></td>
								<td>Bremen, Germany</td>
							</tr>
							<tr>
								<td><i class="fa fa-envelope-o" aria-hidden="true"></i></td>
								<td><a class="robo-green" href="mailto:mail.nicole.p.it@protonmail.com">mail.nicole.p.it@protonmail.com</a></td>
							</tr>
							<tr>
								<td><i class="fa fa-id-card-o" aria-hidden="true"></i></td>
								<td>German</td>
							</tr>
							<tr>
								<td><i class="fa fa-venus" aria-hidden="true"></i></td>
								<td>female</td>
							</tr>
							<tr>
								<td><i class="fa fa-globe" aria-hidden="true"></i></td>
								<td>German, English, Polish, French, Russian</td>
							</tr>
							<tr>
								<td><i class="fa fa-paint-brush" aria-hidden="true"></i></td>
								<td>creative, cheerful, curious</td>
							</tr>
							<tr>
								<td><i class="fa fa-puzzle-piece" aria-hidden="true"></i></td>
								<td>martials arts, fitness, dance workouts, singing karaoke, playing piano, crochet</td>
							</tr>
							<tr>
								<td><i class="fa fa-wrench" aria-hidden="true"></i></td>
								<td>postgresql project: family tree,</br>java webapp with ninjaframework,</br>learning Chinese</td>
							</tr>
						</table>
					</div><!-- col 12-->
		</div><!--row -->
	</div><!-- welcome -->
	<div class="darktheme">
		<div class="row">
			<div class="col-sm-8 container longtext">
				<h2>Motivation</h2>
				<p>I remember about 1995 when my father brought a computer home, with which we used to play games. It must have been the Amiga 500. There was a big monitor with a very small display, a gigantic keyboard, a floppy disk reader, a big mouse and even a joystick. As there were storage problems, you had to remember keywords, if you entered a new level in a game, to play the next day from the highest level you reached. When I was a child, it seemed like magic to me!
				</p>
				<p>Now about 20 years later, I look at my smartphone and what was magic then, is just a tiny sparkle compared to what we are capable today. We have fast internet connection to almost the whole world and virtual reality games, artificial intelligent robots or cars driven by a computer! I am curious how the world will change and what kind of magic IT will come up with. I love learning and being creative, so I am looking forward to some challenges in the wide IT jungle.
				</p>
				<p>Thank you, to all people, who fill the IT world with life! Especially my family and friends. Also teachers, tutors, event organisers, authors of fruitful books and websites, producers of educating or problem solving videos. Developers, mathematicians, engineers, who wrote the history of IT!
				</br>Great thanks!!!</p>
			</div>
			<div class="col-sm-4b story"><% include ../pics/jungle %></div>
		</div>
	</div>
	<div class="brighttheme">
		<div class="row">
			<div class="col-sm-8 container longtext">
				<h2>Experience</h2>
				<p id="experience">
				<% exps.forEach(function (exp) { %>
				<span><%= exp %></span>
				<% }) %>
				</p>
			</div>
			<div class="col-sm-4 center story"><% include ../pics/working %></div>
		</div>
	</div>
	<% include ../partials/footer %>
</body>
<script src="js/myScript.js"></script>
</html>
