<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Nicole P. IT Student</title>
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/> 
    <link rel="stylesheet" href="css/main.css"/>
</head>
<body>
    <div id="header">
       <div id="header-title">
           <svg xmlns="http://www.w3.org/2000/svg"
                 xmlns:xlink="http://www.w3.org/1999/xlink" width="40" height="40">
              <circle cx="20" cy="20" r="18" style="fill:#000000"/>
          </svg>
           <h4>Nicole P.</h4>
       </div>
       <div><img src="img/2017cebit.jpg" alt="2017cebit" width="100%" height="auto"/></div>
   </div>
  <div id="main">
      <h2>Welcome dear Ladies and Gentlemen! My name is Nicole!</h2>
      <p>As the female representation in the IT world needed some increase, I thought it'd be nice to make some contribution to the universe and I started studying IT.</p>
      <table>
         <tbody>
	    <tr>
	       <td>Status</td>
	       <td>IT Student (Bachelor)</td>
	    </tr>
	    <tr>
	       <td>Residence</td>
	       <td>Bremen, Germany</td>
	    </tr>
	    <tr>
	       <td>Email</td>
	       <td>mail.nicole.p.it@gmail.com</td>
	    </tr>
	     <tr>
	       <td>...</td>
	       <td>...</td>
	    </tr>
	 </tbody>
      </table>
  </div>
</body>
</html> 
