<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8"/>
	<title>Nicole P. IT Student</title>
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" /> 
    <link rel="stylesheet" href="css/main.css" />
</head>
<body>
    <div id="top">
       <div id="top-title">
           <% include ../partials/nplogo %>
           <h4>Nicole P.</h4>
       </div>
   </div>
  <div class="content">
  	  <div>
		<img src="img/2017cebit.jpg" alt="2017cebit" width="100%" height="auto"/>
	</div>
      <table>
	  	<tr>
		  <th>My Name is Nicole!</th>
		</tr>
	    <tr>
	       <td>Status</td>
	       <td>IT Student (Bachelor)</td>
	    </tr>
	    <tr>
	       <td>Residence</td>
	       <td>Bremen, Germany</td>
	    </tr>
	    <tr>
	       <td>Email</td>
	       <td>mail.nicole.p.it@gmail.com</td>
	    </tr>
		<tr>
	       <td>Languages</td>
	       <td>German, English, Polish, French, Russian</td>
	    </tr>
		<tr>
	       <td>Gender</td>
	       <td>Female</td>
	    </tr>
	    <tr>
	       <td>Recent Doing</td>
	       <td>Family tree, Internship Daimler Bremen(Projectmanagement), Learning Chinese</td>
	    </tr>
      </table>
      <h2>Welcome dear Ladies and Gentlemen!</h2>
      <p>As the female representation in the IT world needed some increase, I thought it'd be nice to make some contribution to the universe and I started studying IT. Soon I found out, it definitly was not the worst idea. I learned to fight with frameworks like Apache Cocoon or JSF and finally produced quick solutions with node.js and docker. The jungle of solutions has a very wide range and I am happy to take part in more IT-adventures. If you have some exciting challenge, do not hesitate to tell me about it! I am looking forward to some new challenges.</p>
	  <h4>With kind regards,</br>
	  Nicole P.
	  </h4>
  </div>
</body>
</html> 
